
<div class="container">
<div class="col-md-12 mt-3" style="margin-left: 400px;">
    <div class="card" style="width: 500px; background-color: rgba(233, 233, 233, 0.997);">
        <div class="card-body">
        
        <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <h1>Iniciar Sesión</h1>
            <div class="form-group">
                <label for="email">Correo</label>
                <input type="text" class="form-control" placeholder="correo" name="email" [(ngModel)]="form.email" email required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                    #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.errors }" />
                <div *ngIf="email.errors && f.submitted" class="invalid-feedback">
                    Formato invalido
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" placeholder="contraseña" name="password" [(ngModel)]="form.password" required
                    minlength="6" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.errors }" />
                <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
                    <div *ngIf="password.errors['required']">Contraseña requerida</div>
                    <div *ngIf="password.errors['minlength']">
                        La contraseña debe tener al menos 6 caracteres
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-outline-warning btn-block">
                    Iniciar sesión
                </button>
            </div>
            <div class="form-group">
                <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
                    Error: {{ errorMessage }}
                </div>
            </div>
        </form>

        <div class="alert alert-success" *ngIf="isLoggedIn">
            Bienvenido {{ name }}.
        </div>
    </div>
    </div>
</div>
</div>